auth_enabled: false

server:
  http_listen_address: 0.0.0.0
  http_listen_port: 3100

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

schema_config:
  configs:
    # - from: 2020-10-24
    #   store: boltdb-shipper
    #   object_store: filesystem
    #   schema: v11
    #   index:
    #     prefix: index_
    #     period: 24h
  # Добавьте новую конфигурацию ниже существующей
    - from: "2025-08-01"
      # store: boltdbs
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h
        # index_type: tsdb        

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/boltdb-shipper-active
    cache_location: /loki/boltdb-shipper-cache
    cache_ttl: 24h

limits_config:

  reject_old_samples: true
  reject_old_samples_max_age: 168h
  max_query_parallelism: 128
  max_streams_per_user: 10000
  max_entries_limit_per_query: 5000
  allow_structured_metadata: false
  # per_tenant_timeout: 5m
  # query_timeout: 5m

chunk_store_config:
  chunk_cache_config:
    embedded_cache:
      enabled: true
      max_size_mb: 500
